<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon-196x196.png" />
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- End Global site tag -->
  </head>
  <body class="<%= htmlWebpackPlugin.options.classes %>">
    <div style="display: none"><%= htmlWebpackPlugin.options.icons %></div>
    <div id="app"></div>
  </body>
</html>
