/bower_components/
/node_modules/
/.pulp-cache/
/.cache/
/output/
/.psc-package/
/.psc*
/.purs*
/.psa*
/abis/**/*.json
plasma.toml
/purs/src/Plasma/Contracts
*.swp
chanterelle.js
cliquebait-generated.json
plasma.toml
